[Desktop Entry]
Name=Archtools-Nordic-X11
Comment=Minimal Nordic-darker fork for Arch + bspwm (X11)
Type=Service
X-KDE-PluginInfo-Author=Archtools
X-KDE-PluginInfo-Email=none
X-KDE-PluginInfo-Name=Archtools-Nordic-X11
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
MainScript=Main.qml